/* start global rules */
:root {
    --main-color: #2196F3;
    --main-transition: 0.3s;
    --text-color: #777;
    --section-padding: 100px;
    --section-background: #ececec;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
h1, h2, h3, h4, h5, h6 , ul, p {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
/* end global rules */

/* start animations */
@keyframes up-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%  {
        left: 0;
        height: 12px;
        width: 12px;
    }
    100% {
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
@keyframes right-move {
    50%  {
        right: 0;
        height: 12px;
        width: 12px;
    }
    100% {
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
@keyframes bouncing-right {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* end animations */

/* start components */

.heading-component {
    width: fit-content;
    margin: 0 auto 100px;
    padding: 10px 20px;
    border: 1px solid black;  
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
    transition-delay: .5s;
}
.heading-component:hover {
    color: white;
    border-color: white;
}
.heading-component::before,
.heading-component::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}
.heading-component:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.heading-component:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.heading-component::before {
    left: -30px;
}
.heading-component::after {
    right: -30px;
}
/* end components */

/* start container */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end container */

/* start header section */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: 700;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .main-nav {
    display: flex;
    
}
.header .main-nav > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    padding: 0 30px;
    color: black;
    font-size: 18px;
    transition-duration: var(--main-transition);
    position: relative;
}
.header .container .main-nav > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background-color: var(--main-color);
    transition-duration: var(--main-transition);
}
.header .container .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .container .main-nav > li > a:hover::before {
    width: 100%;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
    }
    .header .logo {
        font-size: 20px;
        height: 50px;
    }
    .header .container .main-nav {
        justify-content: center;
        width: 100%;
    }
    .header .container .main-nav > li > a {
        font-size: 15px;
        padding: 10px;
        height: 40px;
    }
}
/* end header section */

/* start mega-menu */
.header .container .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 1;
    top: calc(100% + 1px);
}
.mega-menu {
    width: 100%;
    background-color: white;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    z-index: 0;
    display: flex;
    gap: 40px;
    transition: top var(--main-transition), opacity var(--main-transition);
    opacity: 0;
}
.mega-menu .image img {
    max-width: 100%;
}
.mega-menu .links {
    flex: 1;
    min-width: 250px;
}
.mega-menu .links li {
    position: relative;
}
.mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #ececec;
}
.mega-menu .links li::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width var(--main-transition);
}
.mega-menu .links li:hover::before {
    width: 100%;
}
.mega-menu .links li a {
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
.mega-menu .links li a i {
    margin-right: 10px;
}

@media (max-width: 991px) {
    .mega-menu .image {
        display: none;
    }
}
@media (max-width: 768px) {
    .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
    .mega-menu .links li:last-child {
        border-bottom: 1px solid #ececec;
    }
}
/* end mega-menu */

/* start landing section */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
.landing .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
}
.landing .text p {
    color: var(--text-color);
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    max-width: 500px;
}
.landing .image img {
    position: relative;
    width: 600px;
    animation: up-down 5s linear infinite;
} 
.landing .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);

}
.landing .go-down i {
    animation: bouncing 1.5s infinite;    
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
    .landing .text p {
        margin: 10px auto;
    }
    .landing .image {
        display: none;
    }
}
@media (max-width: 768px) {
    .landing .text h1 {
        font-size: 28px;
    }
    .landing .text p {
        font-size: 18px;
    }
}
/* end landing section */

/* start articles section */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    max-width: 100%;
}
.articles .box .text {
    padding: 20px;
    border-bottom: 1px solid #e6e6e7;
}
.articles .box .text h3 {
    margin-bottom: 10px;
}
.articles .box .text p {
    color: var(--text-color);
    line-height: 1.5;
}
.articles .box .info {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-color);
}
.articles .box .info a {
    font-weight: bold;
}
.articles .box:hover .info i {
    animation: bouncing-right 0.6s linear infinite;
}
/* end articles section */

/* start gallery section */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
    overflow: hidden;
    position: relative;
}
.gallery .box .image::before {
    content: "";
    width: 0px;
    height: 0px;
    background-color: rgb(255 255 255 / 20%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}
.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* end gallery section */

/* start features section */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
    border: 1px solid #ccc;
}
.features .box .image {
    position: relative;
    overflow: hidden;
}
.features .box .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.features .box .image::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .image::after {
    border-width: 170px 500px 170px 0px;
}
.features .box .image img {
    max-width: 100%;
}
.features .box .text {
    padding: 20px;
    text-align: center;
}
.features .box .text h3 {
    width: fit-content;
    margin: auto;
    padding: 0 0 20px;
    font-size: 40px;
    position: relative;
}
.features .box .text h3::after {
    content: "";
    height: 5px;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    left: 10px;
}
.features .box .text p {
    color: var(--text-color);
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
}
.features .box .text a {
    display: block;
    width: fit-content;
    margin: 0px auto 30px;
    padding: 10px 30px;
    border: 3px solid;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    transition: var(--main-transition);
    position: relative;
}
.features .box:hover .text a {
    color: white;
}
.features .box .text a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.features .box:hover .text a::before {
    width: 100%;
}
        /* quality section */
.features .quality .image::before {
    background-color: rgba(244 63 54 / 60%);
}
.features .quality .text h3::after {
    background-color: #f44036;
}
.features .quality .text a {
    color: #f44036;
    border-color: #f44036;
}
.features .quality .text a::before {
    background-color: #f44036;
}
        /* time section */
.features .time .image::before {
    background-color: rgba(0 150 135 / 60%);
}
.features .time .text h3::after {
    background-color: #009688;
}
.features .time .text a {
    color: #009688;
    border-color: #009688;
}
.features .time .text a::before {
    background-color: #009688;
}
        /* passion section */
.features .passion .image::before {
    background-color: rgba(3 168 244 / 60%);
}
.features .passion .text h3::after {
    background-color: #03a9f4;
}
.features .passion .text a {
    color: #03a9f4;
    border-color: #03a9f4;
}
.features .passion .text a::before {
    background-color: #03a9f4;
}
/* end features section */

/* start testimonials section */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testimonials .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
    position: absolute;
    top: -50px;
    right: -10px;
}
.testimonials .box h3 {
    margin-bottom: 10px;
}
.testimonials .box span {
    display: block;
    color: var(--text-color);
    margin-bottom: 10px;
}
.testimonials .box .rating {
    margin-bottom: 10px;
}
.testimonials .box .rating i:not(:last-of-type) {
    color: gold;
}
.testimonials .box p {
    color: var(--text-color);
    margin-top: 10px;
    line-height: 1.5;
}
/* end testimonials section */

/* start team section */
.team {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .box {
    position: relative;
}
.team .box::before ,
.team .box:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after {
    width: 0;
    background-color: #e4e4e4;
    z-index: -1;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box:hover .data img {
    filter: grayscale(100%);
}
.team .box .data .media {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .media i {
    font-size: 18px;
    color: var(--text-color);
}
.team .box .data .media i:hover {
    color: var(--main-color);
}
.team .box .info {
    padding-left: 80px;
}
.team .box .info h3 {
    color: var(--main-color);
    font-size: 22px;
    margin: 20px 0 10px;
}
.team .box:hover .info h3 {
    color: var(--text-color);
}
.team .box .info p {
    color: var(--text-color);
    margin-bottom: 20px;
}
/* end team section */

/* start services section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: box-counter;
    transition: var(--main-transition);
    position: relative;
}
.services .box:hover {
    transform: translateY(-10px);
}
.services .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    width: 0;
    height: 3px;
    transition: var(--main-transition);
}
.services .box:hover::before {
    width: 100%;
}
.services .box i {
    display: block;
    margin: 30px auto 20px;
    text-align: center;
    color: #d5d5d5;
}
.services .box h3 {
    color: var(--main-color);
    font-size: 25px;
    text-align: center;
    margin: 20px auto;
}
.services .box .info {
    text-align: right;
    padding: 15px;
    background-color: #f9f9f9;
    position: relative;
}
.services .box .info::before {
    content: "0" counter(box-counter);
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
}
.services .box .info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 90px;
    width: 50px;
    height: 100%;
    background-color: #e6e6e7;
    transform: skewX(-25deg);
    transform-origin: top left;
}
.services .box .info a {
    color: var(--main-color);
}
/* end services section */

/* start skills section */
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills .container {
    display: flex;
    align-items: center;
} 
.skills .container img {
    max-width: 100%;
}
.skills .languages {
    max-width: 100%;
    width: 600px;
}
.skills .language {
    margin-bottom: 20px;
}
.skills .language h3 {
    margin-bottom: 20px;
}
.skills .language .box {
    width: 100%;
    height: 30px;
    background-color: #e6e6e7;
    position: relative;
}
.skills .language .box::after {
    content: attr(data-progress);
    color: var(--main-color);
    position: absolute;
    top: -40px;
    right: 0;
    background-color: white;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
}
.skills .language .box span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
}

@media (max-width: 991px) {
    .skills .container {
        flex-direction: column;
    }
}
/* end skills section */

/* start work-steps section */
.work-steps {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-steps .container img {
    max-width: 100%;
    margin-right: 100px;
}
.work-steps .box {
    background-color: #f9f9f9;
    padding: 30px;
    margin-bottom: 20px; 
    border-radius: 6px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.work-steps .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: var(--main-transition);
}
.work-steps .box:hover::before {
    width: 100%;
    height: 100%;
}
.work-steps .box img {
    width: 64px;
    margin-right: 30px;
}
.work-steps .box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.work-steps .box p {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
    .work-steps .container img {
        margin-bottom: 50px;
    }
}
/* end work-steps section */

/* start events section */
.events {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events img {
    max-width: 450px;
}
.events .container .box {
    flex: 1;
}
.events .box .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
}
.events .box .timer div {
    width: 75px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    transition: var(--main-transition);
}
.events .box .timer div span {
    display: block;
}
.events .box .timer div span:first-of-type {
    color: var(--main-color);
    font-weight: bold;
    font-size: 35px;
    padding: 15px;
}
.events .box .timer div span:last-of-type {
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}
.events .box .timer div:hover,
.events .box .timer div:hover span:last-of-type {
    border-color: var(--main-color);
}
.events .box h3 {
    text-align: center;
    font-size: 30px;
    margin: 40px 0 0;
}
.events .box p {
    text-align: center;
    line-height: 1.7;
    color: var(--text-color);
    font-size: 19px;
    margin-top: 20px;
}
.events .subscribe {
    width: 100%;
    margin-top: 50px;
}
.events .subscribe form {
    width: 600px;
    max-width: 100%;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
.events .subscribe form input[type="email"] {
    flex: 1;
    padding: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
}
.events .subscribe form input[type="submit"] {
    padding: 20px;
    color: white;
    background-color: var(--main-color);
    border-radius: 50px;
    outline: none;
    border: none;
}

@media (max-width: 991px) {
    .events .container img {
        display: none;
    }
}
@media (max-width: 508px) {
    .events .subscribe form {
        flex-direction: column;
        border-radius: 0;
    }
    .events .subscribe form [type="email"],
    .events .subscribe form input[type="submit"] {
        border-radius: 0;
    }

}
/* end events section */

/* start pricing section */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 0;
}
.pricing .box::before,
.pricing .box::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 50%;
    background-color: #f6f5f5;
    transition: var(--main-transition);
}
.pricing .box::before {
    top: 0;
    left: 0;
}
.pricing .box::after {
    top: 50%;
    right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}
.pricing .box h3 {
    font-size: 25px;
    margin: 30px auto;
    width: fit-content;
}
.pricing .box img {
    display: block;
    width: 70px;
    margin: auto;
}
.pricing .box .price {
    display: block;
    width: fit-content;
    margin: 30px auto 5px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.pricing .box .month {
    display: block;
    width: fit-content;
    color: var(--text-color);
    margin: 0 auto 20px;
}
.pricing .box ul  li {
    padding: 20px;
    border-top: 1px solid #d4d4d4;
}
.pricing .box ul  li::before {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}
.pricing .box a {
    display: block;
    width: fit-content;
    padding: 15px 20px;
    margin: 30px auto 40px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
    position: relative;
    z-index: 0;
}
.pricing .box a::before {
    content: "";
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    color: white;
}
.pricing .box a:hover::before {
    width: 100%;
} 

.pricing .popular {
    position: relative;
}
.pricing .popular .label {
    width: 40px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 2;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    writing-mode: vertical-rl;
}
.pricing .popular .label::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width:  20px;
    border-color: var(--main-color) var(--main-color) transparent var(--main-color);
}
/* end pricing section */

/* start vedios section */
.vedios {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.vedios .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--section-background);
    padding: 0;
    border: 1px solid #ddd;
}
.vedios .vedios-list {
    background-color: white;
    min-width: 300px;
}
.vedios .heading {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}
.vedios .vedios-list li {
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;    
    transition: var(--main-transition);
}
.vedios .vedios-list li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
.vedios .vedios-list li span {
    display: block;
}
.vedios .vedios-list li .duration {
    display: block;
    margin-top: 10px;
    color: #777;
    transition: var(--main-transition);
}
.vedios .vedios-list li:hover .duration {
    color: var(--main-color);
}
.vedios figure {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vedios figure img {
    max-width: 100%;
}
.vedios figure figcaption {
    width: 100%;
    padding: 20px;
    margin: 10px auto;
    background-color: white;
    border-radius: 3px;
}

@media (max-width: 991px) {
    .vedios .container {
        flex-direction: column;
    }
}
/* end vedios section */

/* start stats section */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    position: relative;
}
.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
    text-align: center;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    position: relative;
}
.stats .box {
    background-color: white;
    padding: 30px 15px;
    opacity: .8;
    position: relative;
    transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
    content: "";
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    position: absolute;
    transition: .7s;
}
.stats .box::before {
    left: 0;
    bottom: 0;
}
.stats .box::after {
    right: 0;
    top: 0;
}
.stats .box:hover {
    opacity: 1;
}
.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}
.stats .box i {
    display: block;
    margin: 0 auto 20px;
}
.stats .box .number {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-weight: bold;
    font-size: 40px;
}
.stats .box .text {
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    display: block;
    margin: 10px auto;
    width: fit-content;
}
/* end stats section */

/* start discount-section */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .content {
    padding: 0 20px;
    text-align: center;
}
.discount .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.discount .image::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.discount .image h2 {
    color: white;
    font-size: 40px;
    letter-spacing: -2px;
    margin: 33px;
}
.discount .image p {
    color: white;
    font-size: 18px;
    line-height: 1.7;
    max-width: 500px;
}
.discount .image img {
    width: 300px;
    max-width: 100%;
}
.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
} 
.discount .form h2 {
    font-size: 40px;
    margin: 33px;
}
.discount .form form input[type="text"],
.discount .form form input[type="email"],
.discount .form form input[type="number"],
.discount .form form textarea {
    display: block;
    padding: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d4d4d4;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    outline: none;
    width: 100%; 
    resize: none;   
}
.discount .form form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    border: none;
}

@media (max-width: 991px) {
    .discount {
        flex-direction: column;
    }
    .discount .content h2 {
        font-size: 30px;
    }
}
/* end discount section */